<!--python manage.py runserver 0.0.0.0:8000-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static/jquery-3.3.1.js"></script>
</head>
<style>
    input{
        max-width: 100px;
    }
</style>
<body>
    <div>
        <!--<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>-->
        <!--<script type="text/javascript">-->
            <!--document.write(returnCitySN["cip"]+','+returnCitySN["cname"])-->
        <!--</script>-->
        <h3>数据测试页</h3>
        <p id="wir"></p>
        <div style="background: cadetblue;padding: 10px;">
            <form name="userInfo" id="userInfo">
                <input type="text" name="account" placeholder="账号">
                <input type="text" name="username" placeholder="用户名">
                <input type='password' name="pwd" placeholder="密码">
                <input style="max-width: 150px" type="email" name="email" placeholder="邮箱">
                <!--<label><input type="radio" name="gender" value="1">男</label>-->
                <!--<label><input type="radio" name="gender" value="2">女</label>-->
                <!--<input type="number" name="age">-->
                <!--<input type="file" accept="image/*" placeholder="用户头像" name="avatar">-->
            </form>
            <button onclick="getEmailCode()">获取验证码</button>
            <input type="text" name="emailcode" placeholder="验证码">
            <button onclick="registered()">注册</button>
        </div>
        <br>
        <div style="padding: 10px;">
            <input type="text" name="loginAccount" placeholder="账号或邮箱">
            <input type="password" name="loginPwd" placeholder="密码">
            <button onclick="login()">login用户登录测试</button>
            <br>
            <input type="text" name="token" placeholder="粘贴token">
            <button onclick="tokenLogin()">使用token令牌 && ip地址登陆</button>
            <br>
        </div>
        <div style="padding: 10px;background: darkcyan">
            <input type="text" id="editAccountEmail" placeholder="账号或邮箱">
            <input type="text" id="editPwd" placeholder="新密码">
            <input type="text" id="editCode" placeholder="验证码">
            <button onclick="getEditCode()">验证码</button>
            <button onclick="commitEditPwd()">提交修改</button>
        </div>
        <!--<button onclick="getSubmit()">get提交测试</button>-->
        <!--<button onclick="postSubmit()">post提交测试</button>-->
        <!--<br>-->
        <!--<input type="email" placeholder="接受邮件" name="smtp">-->
        <!--<button onclick="goEmail()">发送邮件</button>-->
        <input type="text" name="searchMovie" placeholder="输入电影名">
        <button onclick="search_movie()">点击索搜</button>
        <!--<br>-->
        <!--<input type="number" name="searchMovieId" placeholder="输入电影的ID">-->
        <!--<button onclick="search_movieID()">点击搜索</button>-->

        <form enctype="multipart/form-data" id="uploadForm">
            <input type="file" name="uploadFile" id="upload_file" style="margin-bottom:10px;">
            <input type="button" id="uploadPicButton" value="图片上传" onclick="uploadPic()">
        </form>
        <form enctype="multipart/form-data" id="uploadVideo">
            <input type="file" name="videoFile" id="upload_video" style="margin-bottom:10px;">
            <input type="button" id="uploadVideoButton" value="视频上传" onclick="uploadVideo()">
        </form>

        <div style="background: aquamarine;padding: 10px;">
            <form name="movieFile" id="movieFile">
                <input type="text" name="movieName" placeholder="电影名称">
                <input type="text" name="otherName" placeholder="电影别名">
                <input type="text" name="actors" placeholder="演员，演员用英文逗号隔开">
                <input type="text" name="director" placeholder="导演">
                <input type="text" name="classify" placeholder="电影分类">
                <input type="text" name="area" placeholder="地区">
                <input type="text" name="language" placeholder="语言">
                <input type="text" name="releasetime" placeholder="电影时长">
                <input type="text" name="score" placeholder="评分">
                <input type="file"  accept="image/*" placeholder="选择图片" name="m_poster" id="m_poster">
                <input type="file" accept="video/*" name="m_movie" id="m_movie">
            </form>
            <button onclick="uploadMovieFile()">上传</button>
        </div>
        <input type="text" id="m_id" placeholder="输入电影id获取评论">
        <button onclick="get_comment()">点击搜索评论</button>
        <div style="background: #ccc;padding: 10px">
            <input type="text" id="mid" placeholder="评论的电影id">
            <input type="text" id="u_id" placeholder="评论的用户id">
            <input type="text" id="content" placeholder="评论内容">
            <button onclick="commitComment()">提交电影评论</button>
        </div>
        <div style="background: cadetblue;padding: 10px">
            <input type="text" id="replyId" placeholder="评论节点的id">
            <input type="text" id="replyUserId" placeholder="回复者的id">
            <input type="text" id="replyContent" placeholder="回复的内容">
            <button onclick="commitReply()">点击回复</button>
        </div>
        <div style="background: deepskyblue;padding: 10px">
            <input type="text" id="newmovies" placeholder="搜索最新电影的个数">
            <button onclick="getNewMovie()">点击搜索</button>
        </div>
    </div>
</body>
<script>
    var url = 'http://localhost:8000/'
    wir = $('#wir')
    function getSubmit() {
        $.ajax({
            url:url+'',
            type:'GET',
            data:{'a':222,'b':333},
            success:function (data) {
                wir.html(data)
            },
            error:function (err) {
                wir.html(err)
            }
        })
    }
    function postSubmit() {
        $.ajax({
            url:url+'',
            type:'POST',
            data:{'a':123,'b':232},
            success:function (data) {
                wir.html(data)
            },
            error:function (err) {
                wir.html(err)
            }
        })
    }
    function login() {
        $.ajax({
            url:url+'login',
            type:'POST',
            data:{
                'account':$("input[name='loginAccount']").val(),
                'pwd':$("input[name='loginPwd']").val(),
                'token':'',
                // 'ip':returnCitySN["cip"]
            },
            success:function (data) {
                console.log(data);
                wir.html('登录成功')
            },
            error:function (err) {
                console.log(err)
                wir.html('报错')
            }
        })
    }
    function registered() {
        var account = $("input[name='account']").val()
        var emailcode = $("input[name='emailcode']").val()
        $.ajax({
            url:url+'registered',
            type:'POST',
            data:{
                'account':account,
                'code':emailcode
            },
            success:function (data) {
                console.log(data);
                wir.html(data)
            },
            error:function (err) {
                console.log(err);
                wir.html(err)
            }
        })
    }
    function getEmailCode() {
        // var account = $("input[name='account']").val()
        // var username = $("input[name='username']").val()
        // var pwd = $("input[name='pwd']").val()
        // var email = $("input[name='email']").val()
        // var gender = $("input[name='gender']:checked").val()
        // var age =$("input[name='age']").val()
        // $.ajax({
        //     url:url+'getEmailCode',
        //     type:'POST',
        //     // data:{'ecode':$("input[name='emailcode']").val()},
        //     data:{
        //         'account':account,
        //         'name':username,
        //         'pwd':pwd,
        //         'email':email,
        //         'gender':gender,
        //         'age':age
        //     },
        //     success:function (data) {
        //         console.log(data)
        //         wir.html(data)
        //     },
        //     error:function (err) {
        //         console.log(err)
        //         wir.html('出错',err)
        //     }
        // })
        var form = document.getElementById('userInfo')
        var fd = new FormData(form)
        console.log('发送请求');
        $.ajax({
            url:url+'getEmailCode',
            type: 'POST',
            data: fd,
            contentType:false,
            processData:false,
            success:function (data) {
                console.log(data)
            },
            error:function (err) {
                console.log(err);
            }
        })
    }
    function getEditCode() {
        var account = $('#editAccountEmail').val()
        var reg=/[a-zA-Z0-9]{1,10}@[a-zA-Z0-9]{1,5}\.[a-zA-Z0-9]{1,5}/;
        var type = ''
        if(reg.test(account)){
            type = 'email'
            console.log('提交邮箱');
        }else {
            type = 'account'
        }
        console.log(account);
        $.ajax({
            url:url+'editPwd',
            type:'POST',
            data:{
                'type':'getcode',
                'date':account
            },
            success:function (res) {
                console.log(res)
            },
            error:function (res) {
                console.log(res);
            }
        })
    }
    function commitEditPwd() {
        var account = $('#editAccountEmail').val();
        var pwd = $('#editPwd').val();
        var code = $('#editCode').val();
        $.ajax({
            url:url+'editPwd',
            type:'POST',
            data:{
                'type':'editpwd',
                'date':account,
                'pwd':pwd,
                'code':code
            },
            success:function (res) {
                console.log(res)
            },
            error:function (res) {
                console.log(res);
            }
        })
    }
    function tokenLogin() {
        var token = $("input[name='token']").val()
        $.ajax({
            url:url+'tokenlogin',
            type:'POST',
            data:{
                'token':token,
                'id': 1
                // 'ip':returnCitySN["cip"]
            },
            success:function (data) {
                wir.html('登陆成功');
                console.log(data)
            },
            error:function (err) {
                wir.html(err);
                console.log('登录失败')
            }
        })
    }
    function search_movie() {
        var info = $("input[name='searchMovie']").val()
        if (info.length > 0){
            $.ajax({
            url:url+'searchMovie',
            type:'GET',
            data:{
                'type':'name',
                'movie':info
            },
            success:function (data) {
                wir.html(data)
                console.log(data)
            },
            error:function (err) {
                wir.html(err)
                console.log(err)
            }
        })
        }else {
            alert('禁止提交空值')
        }

    }
    // function search_movieID() {
    //     var info = $("input[name='searchMovieId']").val()
    //     if(info.length>0){
    //         $.ajax({
    //             url:url+'search',
    //             type:'POST',
    //             data:{
    //                 'type':'id',
    //                 'id':info
    //             },
    //             success:function (data) {
    //                 console.log(data)
    //             },
    //             error:function (err) {
    //                 console.log(err)
    //             }
    //         }
    //         )
    //     }
    // }
    // url:url+'uploadImg',
    function uploadPic(){
        var pic = $('#upload_file')[0].files[0];
        var fd = new FormData();
        fd.append('uploadFile', pic);
        fd.append('name', 'young');
        $.ajax({
            url:"http://localhost:8000/uploadImg",
            type:"POST",
            // Form数据
            data: fd,
            cache: false,
            contentType: false,
            processData: false,
            success:function(data){
                alert("更新成功"+data);
            }
        });

    }
    function uploadVideo() {
        var video = $('#upload_video')[0].files[0];
        var fd = new FormData();
        fd.append('headVideo', video);
        fd.append('username', 'young');
        $.ajax({
            url:url+'uploadVideo',
            type:'POST',
            data: fd,
            cache: false,
            contentType: false,
            processData: false,
            success:function (data) {
                alert('success'+data)
                console.log(data)
            },
            error:function (err) {
                alert('错误！'+err)
                    console.log(err)
            }

        })
    }
    function uploadMovieFile() {
        var form = document.getElementById('movieFile')
        var fd = new FormData(form)
        $.ajax({
            url:url+'uploadMovie',
            type:'POST',
            data: fd,
            contentType: false,
            processData: false,
            success:function (data) {
                console.log(data)
            },
            error:function (err) {
                console.log(err)
            }
        })
    }
    function get_comment() {
        var m_id = $('#m_id').val();
        $.ajax({
            url:url+'getComment',
            type:'POST',
            data:{
                'm_id':m_id
            },
            success:function (data) {
                console.log(data)
            },
            error:function (err) {
                console.log(err)
            }
        })
    }
    function commitComment() {
        var m_id = $('#mid').val()
        var m_content = $('#content').val()
        var u_id = $('#u_id').val()
        $.ajax({
            url:url+'commitComment',
            type:'POST',
            data:{
                'type':'comment',
                'form_id': u_id,
                'topic_id': m_id,
                'content': m_content
            },
            success:function (data) {
                console.log(data)
            },
            error:function (err) {
                console.log(err)
            }
        })
    }
    function commitReply() {
        var replyId = $('#replyId').val()
        var replyContent = $('#replyContent').val()
        var replyUserId = $('#replyUserId').val()
        $.ajax({
            url:url+'commitComment',
            type:'POST',
            data:{
                'type':'reply',
                'reply_id': replyId,
                'content': replyContent,
                'form_uid': replyUserId
            },
            success:function (data) {
                console.log(data)
            },
            error:function (err) {
                console.log(err)
            }
        })
    }
    function getNewMovie() {
        var s = $('#newmovies').val()
        $.ajax({
            url:url+'getNewMovie',
            type:'GET',
            data:{
                place:'movies',
                limit:parseInt(s)
            },
            success:function (data) {
                console.log(data)
            },
            error:function (error) {
                console.log(error)
            }
        })
    }
</script>
</html>